* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.slider-wrapper {
  position: relative;
}

.slider {
  display: flex;
  overflow: hidden;
  width: 400px;
}

.slider-line {
  display: flex;

  transition: transform 0.5s ease-out;
}

.slide {
  width: 400px;
  border: 2px black solid;
  height: 400px;
}

.left,
.right {
  position: absolute;
  top: 50%;
}

.left {
  left: -10%;
}

.right {
  right: -10%;
}

.dots {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
}

.active {
  background-color: black;
}
